<h2>Assignment 2D: Visualizing geodata</h2>
<div class=title-wraper><span class="buttons"><button id="k2" class=disabled disabled ng-click=updateClusters(2) ng-mouseover=preview(2) ng-mouseout=restore()>K=2</button><button id="k3" class=active ng-click=updateClusters(3) ng-mouseover=preview(3) ng-mouseout=restore()>K=3</button><button id="k4" class=active ng-click=updateClusters(4) ng-mouseover=preview(4) ng-mouseout=restore()>K=4</button><button id="k5" class=active ng-click=updateClusters(5) ng-mouseover=preview(5) ng-mouseout=restore()>K=5</button><button id="k6" class=active ng-click=updateClusters(6) ng-mouseover=preview(6) ng-mouseout=restore()>K=6</button>

</span></div>
<div id="map"></div>
<style type="text/css">
    path {
        fill: lightblue;
        stroke: black;
    }
</style>