<h2>Assignment 2D: Visualizing geodata</h2>
<div class=title-wraper><span class="buttons"><button id="k2" class=disabled disabled ng-click=updateClusters(2)>K=2</button><button id="k3" class=active ng-click=updateClusters(3)>K=3</button><button id="k4" class=active ng-click=updateClusters(4)>K=4</button><button id="k5" class=active ng-click=updateClusters(5)>K=5</button><button id="k6" class=active ng-click=updateClusters(6)>K=6</button>

</span></div>
<div id="map"></div>
<style type="text/css">
    path {
        fill: lightblue;
        stroke: black;
    }
</style>
<p>The size of the CSV file is important in order to maintain loading times bounded to an acceptable value for the user. As the CSV file created contains many points ( 15 000 ) , it has to contain only the data necessary for the plots. In addition, the file has to be downloaded from the server before D3 can process it, increasing the total latency even more.</p>